*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;

  font-family: "Poppins", sans-serif;
}
.done { 
  text-decoration: line-through; 
}


.close:hover{
  cursor: pointer;
}

html, body, .container{
  height: 100%;
  width:100%;

}

.container {
  display: flex;
  padding: 32px 64px;

  gap: 300px;

}

#myInput{
  margin-bottom: 32px;
}

ul{
  display: flex;
  flex-direction: column;
  gap: 5px;
}

li{
  display: flex;
  align-items: center;


  border: 1px gray solid;

  padding: 10px;

  border-radius: 8px;

}

.close{
  color: rgb(165, 43, 43);
  font-weight: bold;

  text-decoration: none !important;

  margin: 0 20px;
}

.done-list ul{
 color: gray;
}

/* li :nth-last-child(2){
  width: 10%;
} */
