*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body{
  display: flex;
  flex-direction: row;

  height: 100vh;
  width: 100vw
}

.sidebar{
background-color: rgb(165, 67, 67);
width: 200px;
height: 100%;

}

.header{
  background-color: rgb(53, 112, 160);

  height: 80px;
}

.content{
  background-color: rgb(165, 162, 67);
  height: 100%;
}

.side-content{
  display: flex;
  flex-direction: column;

  width: 100%;
}