*{
  box-sizing: border-box;
  margin: 0%;
  padding: 0%;
}

html, body{
  height: 100%;
  width:  100%;
}


body {
  font-family: Arial, sans-serif;

  /* background-image: url(./assets/market.png);
  background-repeat: no-repeat;
  background-size: cover; */
  position: relative;
}

body::after {
  content: "";
  background: url('./assets/market.png');
  opacity: 0.3;
  filter: brightness(0.4) saturate(1.2) blur(1px);
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;

  position: absolute;
  z-index: -1;  
  
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}
.container {
  width: 100%;
  height: 100%;
  
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  padding-bottom: 100px;
  padding-right: 100px;

  gap: 20px;
}

.container > button {
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.6);
}

.check-wrapper{
  display: flex;
  align-items: center;
  gap: 10px;
}

.check-wrapper button{
  background-color: #4CAF50;
}


.button {
  background-color: #af594c;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}

#input-product{
  height: 48.667px;
  width: 288px;
  font-size: 22px;

  padding: 10px;

  text-align: center;
}

label{
  font-size: 24px;
  font-weight: bold;
}

#check-cart{
  background-color: #af984c;
  width: 177px;
}

p{
  margin-top: 20px;
  font-size: 52px;
  font-weight: bold;
  color: #606060;
}

#items-count{
  margin-top: 20px;
  font-size: 44px;
  font-weight: bold;
  color: #868686;
}