*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body{
  height: 100vh;
  width: 100vw;

  background: #82ba49;

  display: flex;
  justify-content: center;
  align-items: center;
}

.main{
  height: 80vh;
  width: 90vw;

  margin: 100px 50px;

  display: flex;
  
  border-radius: 8px;
}

section{
  border: 1px red solid;
  width: 60%;

  display: flex;
  flex-direction: column;

  overflow-y: hidden;

  background: rgb(255,255,255);
  background: linear-gradient(0deg, rgba(255,255,255,1) 0%, rgba(170,185,192,1) 83%);
}

.welcome-text{
  height: 400px;
  padding: 10px;
  padding-left: 40px;

  display: flex;
  flex-direction: column;

  gap: 30px;
  
}

#floating-girl{
  height: 80%;
  width: 100%;

  object-fit:contain;
  opacity: 0.45;

  
}

.page{
  border: 1px blue solid;
  width: 40%;

  display: flex;
  flex-direction: column;

  justify-content: space-evenly
}

.login{
  display: flex;
  flex-direction: column;
}

.or-wrapper{
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  gap: 20px;
}

.bar{
border-top: 1px solid black;
width: 30%;
}

.social{
display: flex;
gap: 20px;

align-items: center;

padding: 10px;
}

.img-wrapper img{
height: 40px;
width: 40px;
}
