*{
  box-sizing: border-box;
  margin: 0%;
  padding: 0%;

  font-size: 16rem;

  font-family: "Raleway", sans-serif;
}

:root{
  font-size: 6.25%;
}

body{
  height: 100vh;
  display: grid;
  grid-template-areas: 1fr 5fr 1fr;
}

header{
  font-family: "Protest Revolution", sans-serif;

  display: flex;
  justify-content: center;
  align-items: center;
  
  min-height: 35rem;


  color: #fff;
  font-size: 28rem;

  background-color: #080808;
  opacity: 0.8;
  background-image:  repeating-radial-gradient( circle at 0 0, transparent 0, #080808 10px ), repeating-linear-gradient( #682e2e55, #682e2e );


}
main{
  display: flex;


  padding: 20rem;
  background-color: #682e2e55;

  overflow-y: scroll;

  border: #202020 3px solid;
}

.description-wrapper{
  display: flex;
  flex-direction: column;
  gap: 10rem;
}

.img-wrapper{
  width: 50vw;
}

footer{
  font-style: italic;

  display: flex;
  justify-content: center;
  align-items: center;

  color: #fff;

  background-color: rgb(31, 69, 38);
  min-height: 50px;
}

img{
  height: 300rem;
  width: 300rem;

  border-radius: 50%;
  margin-left: 100rem;

  border: #682e2e;

}